*{
    padding: 0px;
    margin: 0px;
    color: black;

}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    height: 100vh;
    background: darkgray;

}


.display{


    height: 95%;
    width: 90%;
    border-radius: 30px;
    overflow: hidden;
    border: 100px;


}

.buttons{
    height: 90px;
    width: 400px;
    margin: 0px;

}
button{

    border-radius: 50px;
    height: 90%;
    width: 87px;
    background-color: white;
}

.calculator{
    width: 350px;
    background: darkgray;
 
}


.double{
    width: 180px;
}

